
.beautiful-images-grid {
	display: grid;
	grid-gap: 0.5rem;
}

.beautiful-images-grid > div {
	display: flex;
	overflow: hidden;
}

.beautiful-images-grid>div>img {
	width: 100%;
	/* aspect-ratio: calc(4 / 3); */
	object-fit: cover;
}

/* .beautiful-images-grid-area-feature {
	grid-area: feature;
} */
.beautiful-images-image-0 {
	grid-area: image-0;
}
.beautiful-images-image-1 {
	grid-area: image-1;
}
.beautiful-images-image-2 {
	grid-area: image-2;
}
.beautiful-images-image-3 {
	grid-area: image-3;
}
.beautiful-images-image-4 {
	grid-area: image-4;
}
.beautiful-images-image-5 {
	grid-area: image-5;
}
.beautiful-images-image-6 {
	grid-area: image-6;
}

.beautiful-images-layout-a {
	grid-template-columns:
		1fr 1fr;
	grid-template-areas:
		"image-0 image-1";
}

.beautiful-images-layout-b {
	grid-template-columns:
		2fr 1fr;
	grid-template-areas:
		"image-0 image-1";
}

.beautiful-images-layout-c {
	grid-template-columns:
		1fr 2fr;
	grid-template-areas:
		"image-1 image-0";
}

.beautiful-images-layout-d {
	grid-template-columns:
		2fr 1fr;
	grid-template-areas:
		"image-0 image-1"
		"image-0 image-2";
}

.beautiful-images-layout-e {
	grid-template-columns:
		1fr 2fr;
	grid-template-areas:
		"image-1 image-0"
		"image-2 image-0";
}

.beautiful-images-layout-f {
	grid-template-columns:
		3fr 1fr;
	grid-template-areas:
		"image-0 image-1"
		"image-0 image-2"
		"image-0 image-3";
}

.beautiful-images-layout-g {
	grid-template-columns:
		1fr 3fr;
	grid-template-areas:
		"image-1 image-0"
		"image-2 image-0"
		"image-3 image-0";
}

.beautiful-images-layout-h {
	grid-template-columns:
		1fr 1fr 1fr;
	grid-template-areas:
		"image-0 image-1 image-2";
}

.beautiful-images-layout-i {
	grid-template-columns:
		1fr 1fr 1fr 1fr;
	grid-template-areas:
		"image-0 image-1 image-2 image-3";
}



